@page
@model PageBook.Pages.Agenda.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editor de Agenda</h2>


<hr />
<div class="row">

    <div class="col-lg-8">
        <img src="https://picsum.photos/700/500/?random" alt="Imagem" class="img-responsive" />
    </div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AGENDA.ID" />
            <div class="form-group">
                <label asp-for="AGENDA.Nome" class="control-label"></label>
                <input asp-for="AGENDA.Nome" class="form-control" />
                <span asp-validation-for="AGENDA.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AGENDA.Email" class="control-label"></label>
                <input asp-for="AGENDA.Email" class="form-control" />
                <span asp-validation-for="AGENDA.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AGENDA.DDD" class="control-label"></label>
                <input asp-for="AGENDA.DDD" class="form-control" />
                <span asp-validation-for="AGENDA.DDD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AGENDA.Celular" class="control-label"></label>
                <input asp-for="AGENDA.Celular" class="form-control" />
                <span asp-validation-for="AGENDA.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AGENDA.Empresa" class="control-label"></label>
                <input asp-for="AGENDA.Empresa" class="form-control" />
                <span asp-validation-for="AGENDA.Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default float-right" />
            </div>
            <div>
                <a asp-page="./Index" class="btn btn-default float-right">Cancelar</a>
            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
